{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
    <h1>Postagem</h1>
    <span class="subheading">Um blog para treinamento usando Django & Bootstrap</span>
{% endblock %}
{% block content %}
    <h1 class="TituloNewPost">Postagem</h1>
    <br/>
    <form method="POST" class="post-form ">
        {% csrf_token %}
        
        <div class="form-row">
            <div class="col-6">
                <div class="form-group">
                    <label>Title: </label>
                    {{form.title}}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-6">
                <div class="form-group">
                    <label>Text: </label>
                    {{form.text}}
                </div>
            </div>
        </div>
           
        <div class="pull-middle">
            <button type="submit" class="save btn btn-dark rounded">Save</button>
        </div>
    </form>
{% endblock %}