{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="cont">
                <div class="date">
                    <p>published: {{ post.published_date }}</p>
                </div>
                <div class="divh1">
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                </div>
            </div>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}